.search_input {
    width: 60%;
    border-radius: 24px;
    outline: none;
    border: 2px solid white;
    margin: 1vw;
    padding: 1vw;
    font-size: 20px;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.search_input::placeholder {
    color: white;
}

.or {
    margin: 0.25vw;
}

.rotate_button {
    width: 50px;
    height: 50px;
    background-image: url(../../assets/Rotate.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.rotate_button:hover {
    animation: spin 1s;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.subreddit_selector {
    width: 60%;
    padding: 1vw;
    border-radius: 24px;
    margin: 1vw;
    background: transparent;
    backdrop-filter: blur(2px);
    border: 2px solid white;
    color: white;
    font-size: 20px;
    outline: none;
}

.submit_button {
    width: 6%;
    height: 50px;
    border-radius: 12px;
    border: 2px solid white;
    background: transparent;
    backdrop-filter: blur(2px);
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}